hr{
    margin: 0 3rem;
}

.mainColor{
    background-color: whitesmoke;
}

.footerlast{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}

img{
    width: 300px;
    height: 100px;
}

p{
    padding: 0 2.3rem;
    font-weight: 600;
    color: #8cab94;
}


